<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>  菜单
    <span class="caret"></span>
  </button>
 	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/home">诗选</a></li>
    <li><a href="/home_author">诗人</a></li>
    <li><a href="/home_poetries">诗集</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/home_announcements">公告</a></li>
  </ul>
</div>