{{#if regSuccess}}
	<div class="message">注册成功</div>
{{/if}}
{{#if loginSuccess}}
	<div class="message">登录成功</div>
{{/if}}
{{#if regError}}
	<div class="message">注册失败</div>
{{/if}}
{{#if loginError}}
	<div class="message">登录失败</div>
{{/if}}