<ul class="nav nav-pills">
	<li id="title" role='presentation' ><a href="/home"><div class="text-center text-primary">Tang Dynasty Poems</div></a></li>
	<li id="home" role='presentation'>
		<a href="/home">
			<span class="glyphicon glyphicon-home" aria-hidden="true" class="active"> Home</span>
		</a>
	</li>
	<li id="entry" role='presentation' name="entry"><a href="#">{{entry}}</a></li>
	<li id="action" role='presentation' name="action"><a href="#">{{action}}</a></li>
</ul>