{{#section 'home'}}
	<link rel="stylesheet" type="text/css" href="/css/home.css">
{{/section}}
<div class="background">
	{{> nav}}

	<div class="main">
		<div class="subnav">
			<ul>
				<li><a href="/home">诗选</a></li>
				<li><a href="/home_author">诗人</a></li>
				<li><a href="/home_poetries">诗集</a></li>
				<li><a href="/home_announcements">公告</a></li>
			</ul>
		</div>		
		<div class="show-board">
		{{#each items}}
			<div class="poem">
				<div class="poem_name">
					{{poem_name}}
				</div>
				<div class="poem_author">
					{{poem_author}}
				</div>
				<div class="poem_content">
					{{poem_content}}
				</div>
				<div class="poem_intro">
					{{poem_intro}}
				</div>
			</div>
		{{/each}}
		</div>	
	</div>
</div>
{{#section 'homeJS'}}
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('button').click(function() {
				var value = $(this).html();
				switch (value) {
					case 'login':
						location.href = '/';
						break;
					case 'logout':
						location.href = '/logout';
						break;
					case 'register':
						location.href = '/register';
						break;
					case 'edit':
						location.href = '/edit';
						break
					default:
						location.href = '/error';
				}
			});
			var value = $('.poem_content').html();
			value = value.trim();
			console.log(value);
			var len = value.length;
			var triValue ='';
			for(var i = 0; i < len; i ++) {
				var str = value[i].trim();
				if(str === ',' || str === '。' || str === '.' || str === '，') {
					triValue += str;
					triValue += "<br/>";
				} else {
					triValue += str;
				}
			}
			$('.poem_content').html(triValue);
		});
	</script>
{{/section}}