{{#section 'home'}}
	<title>home page</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
{{/section}}
{{> nav}}
<div class="background">
	<div class="main">
		{{> dropdown}}
		<div class="show-board">
		{{#each items}}
			<div class="poem">
				<div class="poem_name">
					{{poem_name}}
				</div>
				<div class="poem_author">
					{{poem_author}}
				</div>
				<div class="poem_content">
					{{poem_content}}
				</div>
				<div class="poem_intro">
					{{poem_intro}}
				</div>
			</div>
		{{/each}}
		</div>	
	</div>
</div>
{{#section 'homeJS'}}
	<script type="text/javascript">
		$(document).ready(function() {
			var value = $('.poem_content').html();
			value = value.trim();
			console.log(value);
			var len = value.length;
			var triValue ='';
			for(var i = 0; i < len; i ++) {
				var str = value[i].trim();
				if(str === ',' || str === '。' || str === '.' || str === '，') {
					triValue += str;
					triValue += "<br/>";
				} else {
					triValue += str;
				}
			}
			$('.poem_content').html(triValue);
		});
	</script>
{{/section}}