{{#section 'home_announcements'}}
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/home_announcements.css">
{{/section}}
<div class="background">
	{{> nav}}
	{{> dropdown}}
	<div class="main">	
		<div class="show-board">
			<h1>公告:</h1>
			<p>《Tang Dynasty》是一个唐诗交流网站，你可以通过一下方法获得注册资格：</p>
			<p>发送邮件到2957985400@qq.com，获取注册验证码</p>
			<span class="adminName">BY 管理员:thinkerchen</span>
		</div>	
	</div>
</div>
{{#section 'home_announceJS'}}
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	});
	</script>
{{/section}}