{{#section 'home_announcements'}}
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/home_announcements.css">
{{/section}}
<div class="background">
	{{> nav}}

	<div class="main">
		<div class="subnav">
			<ul>
				<li><a href="/home">诗选</a></li>
				<li><a href="/home_author">诗人</a></li>
				<li><a href="/home_poetries">诗集</a></li>
				<li><a href="/home_announcements">公告</a></li>
			</ul>
		</div>		
		<div class="show-board">
			<h1>公告:</h1>
			<p>《Tang Dynasty》是一个唐诗交流网站，你可以通过一下方法获得注册资格：</p>
			<p>发送邮件到2957985400@qq.com，获取注册验证码</p>
			<span class="adminName">BY 管理员:thinkerchen</span>
		</div>	
	</div>
</div>
{{#section 'home_announceJS'}}
	<script type="text/javascript" src='/js/jquery.js'></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('button').click(function() {
			var value = $(this).html();
			switch (value) {
				case 'login':
					location.href = '/';
					break;
				case 'logout':
					location.href = '/logout';
					break;
				case 'register':
					location.href = '/register';
					break;
				case 'edit':
					location.href = '/edit';
					break
				default:
					location.href = '/error';
				};
			});
	});
	</script>
{{/section}}