{{#section 'register'}}
	<title>register page</title>
	<link rel="stylesheet" type="text/css" href="/css/register.css">
{{/section}}
{{> nav}}
<div class="contents">
	{{> message}}
	<div class="register-box">
		<form action="/register" method="POST">
			<label>姓名：</label>
			<input type="text" name="username" 
			id = "username" formmethod="post" required autofocus>
			<br>
			<label>密码：</label>
			<input type="text" name="password1"
			id="password1" formmethod="post" required autofocus>
			<br>
			<label>再次输入密码：</label>
			<input type="text" name="password2"
			id="password2" formmethod="post" required autofocus>
			<br>
			<button type="submit" id="register">注册</button>
			<button type="button" id="login">登陆</button>
			</form>
		</div>
</div>
{{#section 'registerJS'}}
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('button').click(function() {
				var value = $(this).html();
				switch (value) {
					case 'login':
						location.href = '/';
						break;
					case 'logout':
						location.href = '/logout';
						break;
					case 'register':
						location.href = '/register';
						break;
					case 'edit':
						location.href = '/edit';
						break
					default:
						location.href = '/error';
				}
			});
			$('#login').click(function() {
				location.href = '/';
			});
		});
	</script>
{{/section}}

