@import url(nav.css);
.main {
	
	min-height: 700px;
	height: auto;

}
.dropdown {
	float: left;
	margin-left: 5%;
	width: 20%;
}
#dropdownMenu1 {
	font-size: 18px;
	font-weight: bold;
	width: 150px;

}
.show-board {
	border:1px solid gray;
	width: 60%;
	float: left;
	margin-left: 20%;
}
.poem {
	border:1px solid black;
	
	width: 30%;
	height: auto;
	float: left;

	margin-top: 20px;
	margin-left: 35%;

	box-shadow: 5px 5px 5px gray;


}
.poem_name {
	text-align:center;
	font-size: 30px;
	font-weight: bold;
}
.poem_author {
	font-size: 18px;
	margin-left: 10%;
	font-style: italic;
}
.poem_content {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	margin:10px;
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
