@import url(nav.css);
body {
	padding: 0;
	margin:0;
}
.main {
	
	min-height: 700px;
	height: auto;

}
.subnav {
	width: 100%;
	float: left;

}
.subnav ul {
	list-style: none;
	text-align: center;
}
.subnav li {
	margin-left:50px;
	display: inline;
	border:1px solid black;
	padding: 10px;
}
.subnav a {
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-weight: bold;
}
.show-board {
	border:1px solid black;
	width: 50%;
	height: auto;
	min-height: 300px;
	margin-left: 25%;
	margin-top: 50px;
	float: left;

	font-size: 18px;
	text-align: center;

	box-shadow: 5px 5px 5px black;
}
.adminName {
	float: right;
	margin-right: 10%;
	font-weight: bold;
}