@import url(nav.css);
body {
	padding: 0;
	margin:0;
}
.main {
	
	min-height: 700px;
	height: auto;

}
.dropdown {
	float: left;
	margin-left: 5%;
	width: 20%;
}
#dropdownMenu1 {
	font-size: 18px;
	font-weight: bold;
	width: 150px;

}
.show-board {
	border:1px solid black;
	width: 50%;
	height: auto;
	min-height: 300px;
	margin-left: 100px;
	margin-top: 50px;
	float: left;

	font-size: 18px;
	text-align: center;

	box-shadow: 5px 5px 5px black;
}
.adminName {
	float: right;
	margin-right: 10%;
	font-weight: bold;
}