@import url(nav.css);
body {
	padding: 0;
	margin:0;
}
.contents {
	width: 100%;
	height: auto;
}
.register-box {
	border:1px solid black;
	width: 30%;
	height: 200px;

	margin-top: 5%;
	margin-left: 35%;

	float: left;
	text-align:center;
	padding-top: 20px;
	line-height: 30px;

	box-shadow: 10px 10px 10px black;
}
.register-box button {
	width: 50px;
	height: 30px;
	margin:10px;
}
.register-box input {
	height: 20px;
	margin:10px;
	margin-right: 10px;
}
.message {
	border:3px solid red;
	width: 200px;
	height: 50px;
	float: left;
	margin-left: 40%;
	margin-top: 50px;
}